h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291501079-1 - Alistar piezas de marroquinería de acuerdo con los requerimientos del producto.