.container
    .header-ecored
        h1 1. Prearmar la pieza
    .jumbotron.bg-white
        p Las piezas se componen de partes, las cuales están dispuestas en un orden especial para poder ser llevadas a su creación. A continuación, pueden observar el proceso necesario para prearmar una pieza de marroquinería, desde el alistamiento hasta la pintura de los bordes y brillos en su pieza como medios de finalización.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img2.png").img-fluid

        .sub-ecored.my-5#11
            h2 1.1 Alistamiento previo 
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2C3L85Pzwnc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.my-5#12
            h2 1.2 Troquelar
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/j3Q3sAbIX6U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.my-5#13
            h2 1.3 Prearmado de chapetas y manijas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0hp8O6_i_yw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.my-5#14
            h2 1.4 Cortar manijas 
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DGqLtj-9NKw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.my-5#15
            h2 1.5 Pintura de bordes y brillo
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-Qdo2ztK_90', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                                                