.container
    .header-ecored
        h1 2. Armado
    .jumbotron.bg-white
        p Es, como lo dice Abril (2018) “proceso donde se unen todas las piezas cortadas según el modelo” y tiene un orden específico según la pieza y la descripción en la ficha técnica del producto. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img3.png").img-fluid

        .sub-ecored.my-5#21
            h2 2.1 Armar
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/E-iz1YEZa0s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.my-5#22
            h2 2.2 Armado de forro
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/MbJlhYTiO9E', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')